# Set default behavior to automatically normalize line endings.
* text=auto

# Force C# files to always use CRLF line endings.
*.cs text eol=crlf

# Explicitly declare files that should always use CRLF line endings.
*.sln text eol=crlf
*.csproj text eol=crlf
*.vbproj text eol=crlf
*.fsproj text eol=crlf
*.dbproj text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.dll binary
*.exe binary
