bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
.idea
/Motiv.sln.DotSettings
/_site/
/api/
/.vs/Motiv/DesignTimeBuild/.dtbcache.v2
/.vs/Motiv/FileContentIndex/332c7563-786a-47e7-bec1-7cdd918b2d6a.vsidx
/.vs/Motiv/v17/.futdcache.v2
/.vs/Motiv/v17/.suo
/.vs/Motiv/v17/DocumentLayout.json
/.vs/ProjectEvaluation/motiv.metadata.v9.bin
/.vs/ProjectEvaluation/motiv.projects.v9.bin
/.vs/ProjectEvaluation/motiv.strings.v9.bin
